
/* Customize the layout padding */
[layout-padding], 
[layout-padding] > [flex], 
[layout-padding] > [flex-gt-sm], 
[layout-padding] > [flex-md], 
[layout-padding] > [flex-lt-lg] {
  padding: 12px;
}

.page-container {
  position: absolute;
}

/* Circuit workout block styles */

.work-block,
.rest-block {
  color: white;
  text-align: center;
}

.work-block h3,
.rest-block h3 {
  margin: 8px;
}

.work-block p,
.rest-block p {
  margin: 4px;
}

.work-block {
  background-color: #90CAF9;
}

.rest-block {
  background-color: #EF9A9A;
}

.work-block.current-block {
  background-color: #2196F3;
}

.rest-block.current-block {
  background-color: #F44336;
}
