<div layout="column" layout-fill class="page-container">
  <ng-include src="'toolbar.html'"></ng-include>
  <md-content layout-padding>

    <h2>{{ctrl.exercise.id == undefined ? 'Create' : 'Edit'}} Exercise</h2>
    <form name="form">
      <md-input-container>
        <label>Name</label>
        <input name="name" ng-model="ctrl.exercise.name" required ng-maxlength="30">

        <div class="errors" ng-messages="form.name.$error" ng-messages-include="error.html">
          <div ng-message="required">Name is required</div>
        </div>

      </md-input-container>
      <md-input-container>
        <label>Types</label>
        <md-chips ng-model="ctrl.exercise.types" md-autocomplete-snap md-require-match="true">
          <md-autocomplete
              md-selected-item="ctrl.selectedItem"
              md-search-text="ctrl.searchText"
              md-items="item in ctrl.getTypes(ctrl.searchText)"
              md-item-text="item">
            <span md-highlight-text="ctrl.searchText">{{item}}</span>
          </md-autocomplete>
        </md-chips>
      </md-input-container>
      <md-input-container>
        <md-checkbox ng-model="ctrl.exercise.requiresEquipment">
          Requires equipment
        </md-checkbox>
      </md-input-container>
      <div>
        <md-button ng-click="ctrl.cancel()">Cancel</md-button>
        <md-button ng-click="ctrl.save()" class="md-primary">Save</md-button>
      </div>
    </form>

  </md-content>
</div>
