<div layout-padding>

	<h2>Workout</h2>

	<div layout-center>
		<md-button class="md-raised md-primary">Wooo workout! START!</md-button>
	</div>

  <md-grid-list
        md-cols="12"
        md-row-height="3:2"
        md-gutter="12px" md-gutter-gt-sm="8px">
    <md-grid-tile ng-repeat-start="exercise in ctrl.selected" class="work-block"
        md-rowspan="2" md-colspan="3"
        ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
        <div layout="column">
	        <h3>{{exercise.name}}</h3>
	      	<p>{{ctrl.workSecs}} seconds</p>
      	</div>
    </md-grid-tile>
    <md-grid-tile ng-repeat-end class="rest-block"
        md-rowspan="2" md-colspan="1" ng-if="!$last">
        <div layout="column">
	        <h3>Rest</h3>
        	<p>{{ctrl.breakSecs}} seconds</p>
        </div>
    </md-grid-tile>
    <md-grid-tile class="rest-block"
        md-rowspan="2" md-colspan="3" layout-row>
        <div layout="column">
	      	<h3>Rest</h3>
					<p>{{ctrl.workSecs + ctrl.breakSecs}} seconds</p>
				</div>
    </md-grid-tile>
  </md-grid-list>	
	<p>
		<a href="javascript:;" ng-click="ctrl.generate()">
			Ugh, no. I am not doing this.  Next workout, please . . .
		</a>
	</p>
</div>
