<div layout="column" layout-fill class="page-container">
  <ng-include src="'toolbar.html'"></ng-include>
  <md-toolbar layout="row" class="md-primary md-hue-1">
    <div class="md-toolbar-tools" layout-align="center">
      <md-button ng-click="ctrl.start()" ng-show="!ctrl.running">
        <md-icon md-svg-icon="play"></md-icon>
        <span ng-show="ctrl.seconds == undefined">Start!</span>
        <span ng-show="ctrl.seconds != undefined">00:{{ctrl.seconds}} left</span>
      </md-button>
      <md-button class="workout-button" class="md-icon-button" ng-click="ctrl.pause()" ng-show="ctrl.running">
        <md-icon md-svg-icon="pause"></md-icon>
        <span>00:{{ctrl.seconds}} left</span>
      </md-button>
    </div>
  </md-toolbar>
  <md-content layout-padding>

    <md-grid-list
          md-cols-sm="4" md-cols-md="8" md-cols-gt-md="12"
          md-row-height="3:2"
          md-gutter="12px" md-gutter-gt-sm="8px">
      <md-grid-tile ng-repeat-start="exercise in ctrl.selected" class="work-block"
          md-rowspan="2" md-colspan="3"
          ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}"
          ng-class="{'current-block': ctrl.index == $index && ctrl.atStation}">
          <div layout="column" id="work{{$index}}">
            <h3>{{exercise.name}}</h3>
            <p>{{ctrl.workSecs}} s</p>
          </div>
      </md-grid-tile>
      <md-grid-tile ng-repeat-end class="rest-block"
          ng-class="{'current-block': ctrl.index == $index && !ctrl.atStation}"
          md-rowspan="2" md-colspan="1" ng-if="!$last">
          <div layout="column" id="break{{$index}}">
            <h3>Rest</h3>
            <p>{{ctrl.breakSecs}} s</p>
          </div>
      </md-grid-tile>
      <md-grid-tile class="rest-block"
          md-rowspan="2" md-colspan="3"
          ng-class="{'current-block': ctrl.index == ctrl.stationsPerRound-1 && !ctrl.atStation}">
          <div layout="column" id="break{{ctrl.stationsPerRound-1}}">
            <h3>Rest</h3>
            <p>{{ctrl.workSecs + ctrl.breakSecs}} s</p>
          </div>
      </md-grid-tile>
    </md-grid-list>  
    <p>
      <a href="javascript:;" ng-click="ctrl.refresh()">
        Ugh, no. I am not doing this.  Next workout, please . . .
      </a>
    </p>

  </md-content>
</div>
